<%= form_for @mlbgame do |f| %>
 
  <% if @mlbgame.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@mlbgame.errors.count, "error") %> prohibited
        this game from being saved:
      </h2>
      <ul>
        <% @mlbgame.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
	<% @stats.each do |col, val| %>
		<p>
    <%= f.label col %><br>
    <%= f.text_field col %>
  </p>
  <% end %>
 
  <p>
    <%= f.submit 'Submit' %>
  </p>
 
<% end %>
