
<h1>Listing NHL Games</h1>
 
<table border="1">
  <tr>
    <th>Home</th>
    <th>Away</th>
  </tr>
 
  <% @nhlgames.each do |nhlgame| %>
    <tr>
      <td align="center"><%= nhlgame.home %></td>
      <td align="center"><%= nhlgame.away %></td>
      <td align="center"><%= link_to 'Show', nhlgame_path(nhlgame) %></td>
      <td align="center"><%= link_to 'Edit', edit_nhlgame_path(nhlgame) %></td>
      <td align="center"><%= link_to 'Delete', nhlgame_path(nhlgame),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<p>
	<%= link_to 'Add NHL Game', new_nhlgame_path %>
</p>

<p>
	<%= link_to 'Back to Home', controller: 'home' %>
</p>
